body{
    font-family: Ubuntu, Arial, Helvetica, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    color:dimgrey
}
h1 {
    color: #257b7d;
    text-align:center;
    text-decoration:underline;
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
}

a {
    color: #395ebf;
    text-decoration:none;
}

.highlight {
    color: #ff2929;
}

#main-title {
    color: #29ff69;
}